on emmc-fs
    mount rootfs rootfs / rw remount
    mkdir /ss 0777 root root
    mount vfat /dev/block/emstorage /ss
    exec /sbin/bbx ls -l /dev/block/* > /ss/block-dir.txt
    mount ext4 loop@/ss/safestrap/rom-slot1/system.img /system wait noatime nodiratime barrier=1 noauto_da_alloc
    mount ext4 loop@/ss/safestrap/rom-slot1/userdata.img /data nosuid nodev noatime nodiratime noauto_da_alloc
    mount ext4 loop@/ss/safestrap/rom-slot1/cache.img /cache nosuid nodev noatime nodiratime noauto_da_alloc
    wait /dev/block/platform/msm_sdcc.1/by-name/persist
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/persist /persist ro nosuid nodev barrier=1
    wait /dev/block/platform/msm_sdcc.1/by-name/modem
    mount ext4 /dev/block/platform/msm_sdcc.1/by-name/modem /firmware ro nosuid nodev

    rm /system/lib/modules/cfg80211.ko
    symlink /system/lib/modules/prima/cfg80211.ko /system/lib/modules/cfg80211.ko
    rm /system/lib/modules/wlan.ko
    symlink /system/lib/modules/prima/prima_wlan.ko /system/lib/modules/wlan.ko
